# Archivos temporales
*.bak
*.000
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist Eeschema
# *.net

# Autorouter Pcbnew
*.dns

# BOM
*.xlm
*.csv

# SPICE
*.raw
*.log

# FreeCAD
# *.

# No se a quien pertenecen
# *-cache.lib
*-rescue.lib
*.dcm
*autosave*
*cache*
_saved_*
