# Archivos temporales
*.bak
*.000
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*cache*
*autosave*
_saved*
*-cache.lib
*-rescue.lib

# Netlist Eeschema
*.net

# Autorouter Pcbnew
*.dns

# BOM
*.xlm
*.csv

# SPICE
*.raw
*.log
